<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:s="http://jboss.com/products/seam/taglib"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
  <title>Hello</title>
</head>
<body>
<p>#{messages.hello}</p>

<p>#{hedgehogService.hello}</p>

<s:link action="#{hedgehogService.createHedgehog}">Create a hedgehog</s:link>

<s:fragment rendered="#{empty hedgehogs}">
  No hedgehogs
</s:fragment>
<h:dataTable value="#{hedgehogs}" var="h" rendered="#{! empty hedgehogs}">
  <h:column>
    <f:facet name="header">#{messages['hedgehog.name']}</f:facet>
    #{h.name}
  </h:column>
</h:dataTable>
</body>
</html>